/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    background-image: linear-gradient(-90deg, #705543 0%, #959657 22%, #9f9e6f 31%, #787468 42%, #948672 52%, #d1bb99 63%, #E1AD85 79%, #667882 100%); display: block; width: 100%; height: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

* { box-sizing: border-box;}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { width: 100%; height: 100%; position: relative; top: -16px; overflow: hidden;}
.intro-page { background-image: url('../img/jorge.png'); background-size: 100% auto; background-repeat: no-repeat; background-position: top left; border-top: 2px solid rgba(255,255,255,.25); margin: 0!important; width: 100%; height: 100%; display: block; text-align: center;}
header { width: 100%; background-color: rgba(255,255,255,.5); min-height: 90px; padding: 15px 30px; text-align: center;}

h1 {color: #8D9B9C; font-size: 32px; font-weight: 300; margin-top: 0px; }
.info-container { border-bottom: 3px solid #A6D20E; border-radius: 3px; display: block; max-width: 960px; width: 100%; margin: 20px auto; background-color: rgba(255,255,255,.65); padding: 20px; position: relative;}
input { display: inline-block;}
.button { background-color: #A6D20E; border-radius: 3px; color: #536907; border: 0; padding: 8px 15px; font-size: 18px; position: absolute; bottom: -22px; left: 50%; margin-left: -82px; }
label, input { display: block; font-size: 14px;}
input {  margin: 10px auto; border: 2px solid #536907; border-radius: 3px; background-color: rgba(255,255,255,.5); padding: 5px;}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}